/*	GLOBAL STYLES	*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  border: 0;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400; }

ul {
  list-style: none;
  padding: 0; }

/*	font weight	*/
.font-light {
  font-weight: 300; }

.font-normal {
  font-weight: 400; }

.font-med {
  font-weight: 500; }

.font-bold {
  font-weight: 700; }

/*	font color	*/
.text-blue {
  color: #00C0FF; }

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.row {
  width: 100%;
  display: block;
  float: left; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.background-fill, .header .top-part, .content {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.container {
  padding: 0 20px; }

.align-right {
  text-align: right; }

.centered {
  display: table;
  margin: 0 auto;
  float: none; }

.btn {
  display: block;
  color: #ffffff; }
  .btn.btn-green {
    background: #01CF4A; }
    .btn.btn-green:hover, .btn.btn-green:focus, .btn.btn-green.disabled {
      background: #016926; }
  .btn.btn-blue {
    background: #00C0FF; }
    .btn.btn-blue:hover, .btn.btn-blue:focus {
      background: #007399; }

.form-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  float: left;
  padding: 0 20px 20px 20px; }
  .form-item:before, .form-item:after {
    content: " ";
    display: table; }
  .form-item:after {
    clear: both; }
  .form-item input {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    padding: 10px 20px;
    margin-top: 1px;
    border: 1px solid #a8a8a8; }
    .form-item input:focus {
      border-color: #00C0FF; }
  .form-item .error {
    -ms-transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: 5px;
    color: #ffffff;
    background: red;
    font-size: 10px;
    width: calc(100% - 40px); }
  .form-item.invalid .error {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.icon {
  background-image: url("../img/icons.png");
  float: left;
  display: block;
  width: 64px;
  background-size: 100%; }

.icon-graph {
  background-position: 0 0; }

.icon-phone {
  background-position: 0 25%; }

.icon-money {
  background-position: 0 50%; }

.icon-count {
  background-position: 0 75%; }

.icon-arrows {
  background-position: 0 100%; }

/*	HEADER STYLES	*/
.header {
  color: #ffffff;
  text-align: center; }
  .header .logo {
    background: #000;
    padding: 15px; }
    .header .logo a {
      max-width: 70%; }
  .header .top-part {
    background-image: url("../img/bg-top.jpg"); }
  .header .text-big {
    font-size: 43px;
    padding-top: 38px; }
  .header h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 17px;
    text-transform: uppercase; }
    .header h1:before, .header h1:after {
      content: " ";
      display: table; }
    .header h1:after {
      clear: both; }
    .header h1 span {
      float: left;
      display: block; }
      .header h1 span.centered {
        display: table;
        margin: 0 auto;
        float: none; }
    .header h1 .text-blue {
      margin-right: 5px; }
  .header .circle {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 5px;
    margin: 8px 2.5px;
    height: 5px;
    border: 2px solid #00C0FF; }
  .header .free-app {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 75px;
    text-align: center;
    font-weight: bold;
    padding: 2px 5px;
    border: 2px solid #00C0FF; }
    .header .free-app:hover, .header .free-app:active {
      background: #00C0FF; }
  .header .free-app-helper {
    text-transform: uppercase;
    font-size: 16px; }
  .header .appstore {
    max-width: 172px; }
  .header .appstore-helper {
    font-size: 13px; }

/*	CONTENT STYLES	*/
.content {
  background-image: url("../img/bg-content.jpg"); }
  .content:before, .content:after {
    content: " ";
    display: table; }
  .content:after {
    clear: both; }
  .content h2 {
    color: #0d1112;
    font-size: 27px;
    margin: 35px 0; }

.section-advantages {
  width: 100%;
  float: left;
  margin-top: 0; }
  .section-advantages li {
    position: relative;
    padding-left: 50px;
    margin: 20px 0; }
    .section-advantages li:before, .section-advantages li:after {
      content: " ";
      display: table; }
    .section-advantages li:after {
      clear: both; }
    .section-advantages li:first-child {
      margin-top: 0; }
    .section-advantages li .icon {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: absolute;
      width: 33px;
      height: 33px;
      top: 50%;
      left: 0;
      margin-top: -16.5px; }

.btn-202pro {
  background: #000;
  width: 100%;
  float: left;
  padding: 10px 20px 25px 20px;
  color: #ffffff;
  font-size: 27px;
  line-height: 1.6em; }
  .btn-202pro img {
    max-width: 70%; }

/*	FOOTER STYLES	*/
.footer {
  position: relative; }
  .footer .btn-blue {
    position: absolute;
    left: 20px;
    top: 0;
    font-weight: bold;
    font-size: 15px;
    padding: 5px; }

/*	MODAL STYLES	*/
.overlay {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7); }

.modal {
  -webkit-box-shadow: 0 0 15px 0 #fff;
  box-shadow: 0 0 15px 0 #fff;
  -ms-transform: translateY(-110%);
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: calc(100% - 40px);
  left: 20px;
  z-index: 20;
  padding: 20px;
  background: #fff;
  text-align: center; }
  .modal h3 {
    margin-top: 0; }
  .modal .close {
    position: absolute;
    top: 0;
    padding: 10px;
    right: 0;
    font-size: 13px;
    font-weight: bold;
    width: auto;
    text-transform: uppercase; }

.modal-content {
  padding-top: 20px; }

.modal-open {
  overflow: hidden; }
  .modal-open .modal {
    -ms-transform: translateY(40%);
    -webkit-transform: translateY(40%);
    transform: translateY(40%); }
  .modal-open .overlay {
    z-index: 10;
    opacity: 1; }

.btn-submit {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  margin: 0 20px;
  padding: 10px; }

@media only screen and (min-device-pixel-ratio: 2) {
  .icon {
    background-image: url("../img/icons.png"); }

  .top-part {
    background-image: url("../img/bg-top.jpg"); }

  .content {
    background-image: url("../img/bg-content.jpg"); } }

/*# sourceMappingURL=main.css.map */
