@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin img-responsive {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}
@mixin img-iresponsive {
	max-width: auto;
	width: auto;
}

@mixin centered-block() {
	display: table;
	margin: 0 auto;
	float: none;
}

@mixin radius-equal ($px) {
	-webkit-border-radius: $px;
	border-radius: $px;
}
@mixin radius-bottom ($px) {
	-webkit-border-radius:0 0 $px $px;
	border-radius:0 0 $px $px;
}
@mixin radius-top ($px) {
	-webkit-border-radius:$px $px 0 0;
	border-radius:$px $px 0 0;
}
@mixin radius-left ($px) {
	-webkit-border-radius:$px 0 0 $px;
	border-radius:$px 0 0 $px;
}
@mixin radius-right ($px) {
	-webkit-border-radius:0 $px $px 0;
	border-radius:0 $px $px 0;
}

@mixin bg-size($property) {
	-webkit-background-size: $property;
	-moz-background-size: $property;
	-o-background-size: $property;
	background-size: $property;
}
@mixin transition-all ($time , $type){
	-webkit-transition: all $time $type;
	-moz-transition: all $time $type;
	-ms-transition: all $time $type;
	transition: all $time $type;
}

@mixin translateY($px) {
	-ms-transform: translateY($px);
	-webkit-transform: translateY($px);
	transform: translateY($px);
}
@mixin translateX($px) {
	-ms-transform: translateX($px);
	-webkit-transform: translateX($px);
	transform: translateX($px);
}
@mixin box-shadow($px , $col) {
	-webkit-box-shadow: 0 0 $px 0 $col;
	box-shadow: 0 0 $px 0 $col;
}