/*	GLOBAL STYLES	*/
*,
*:after ,
*:before {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;        
}
img {
	border:0;
	@include img-responsive();
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: $size-global;
	font-weight: 400;
}
ul {
	list-style:none;
	padding: 0;
}
/*	font weight	*/
.font-light {
	font-weight: 300;
}
.font-normal {
	font-weight: 400;
}
.font-med {
	font-weight: 500;
}
.font-bold {
	font-weight: 700;
}

/*	font color	*/
.text-blue {
	color:$text-blue;
}
a {
	@include transition-all(0.3s , ease-in-out);
	text-decoration: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
.row {
	@include clearfix();
	width: 100%;
	display: block;
	float: left;
}

.clearfix {
	@include clearfix();
}
.background-fill {
	@include bg-size(cover); 
	background-position: center center;
	background-repeat: no-repeat;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.container {
	padding: 0 20px;
}
.align-right {
	text-align: right;
}
.centered {
	@include centered-block();
}
.btn {
	display: block;
	color:$text-white;
	&.btn-green {
		background: $bg-green;
		&:hover,
		&:focus ,
		&.disabled {
			background: darken( $bg-green, 20% );
		}
	}
	&.btn-blue {
		background: $bg-blue;
		&:hover,
		&:focus {
			background: darken( $bg-blue, 20% );
		}
	}
}
.form-item {
	@include clearfix();
	position: relative;
	overflow: hidden;
	width: 100%;
	float: left;
	padding:0 20px 20px 20px;
	input {
		@include transition-all(0.3s , ease-in-out);
		@include radius-equal(2px);
		width: 100%;
		padding: 10px 20px;
		margin-top: 1px;
		border:1px solid $border-input;
		&:focus {
			border-color:$border-blue;
		}
	}
	.error {
		@include translateX(-110%);
		@include transition-all(0.3s , ease-in-out);
		position: absolute;
		bottom:5px;
		color: $text-white;
		background: red;
		font-size: 10px;
		width: calc(100% - 40px);
	}
	&.invalid {
		.error{
			@include translateX(0);
		}
	}
}
.icon {
	background-image: url("../img/icons.png");
	float:left;
	display:block;
	width:64px;
    background-size: 100%; //play with this
}
.icon-graph {
	background-position: 0 0;
}
.icon-phone {
	background-position: 0 25%;
}
.icon-money {
	background-position: 0 50%;
}
.icon-count {
	background-position: 0 75%;
}
.icon-arrows {
	background-position: 0 100%;
}

/*	HEADER STYLES	*/
.header {
	color:$text-white;
	text-align: center;
	.logo {
		background: #000;
		padding: 15px;
		a {
			max-width: 70%;
		}
	}
	.top-part {
		@extend .background-fill;
		background-image: url("../img/bg-top.jpg");
	}

	.text-big {
		font-size: $size-xl;
		padding-top: 38px;
	}
	h1 {
		@include clearfix();
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		font-size: $size-s-m;
		text-transform: uppercase;
		span {
			float: left;
			display: block;
			&.centered {
				@include centered-block();
			}
		}
		.text-blue {
			margin-right: 5px;
		}
	}
	.circle {
		@include radius-equal(50%);
		width: 5px;
		margin:8px 2.5px;
		height: 5px;
		border: 2px solid $border-blue;
	}
	.free-app {
		@include radius-equal(2px);
		font-size: $size-xs;
		color: $text-white;
		text-transform: uppercase;
		max-width: 75px;
		text-align: center;	
		font-weight: bold;
		padding: 2px 5px;
		border: 2px solid $border-blue;
		&:hover ,
		&:active {
			background: $text-blue;
		}
	}
	.free-app-helper {
		text-transform: uppercase;
		font-size: $size-s;
	}
	.appstore {
		max-width: 172px;
	}
	.appstore-helper {
		font-size: $size-xs;
	}

}
//header END



/*	CONTENT STYLES	*/
.content {
	@include clearfix();
	@extend .background-fill;
	background-image: url("../img/bg-content.jpg");
	h2 {
		color: $text-h2;
		font-size: $size-l;
		margin: 35px 0;
	}
}
.section-advantages {
	width: 100%;
	float: left;
	margin-top: 0;
	li {
		@include clearfix();
		position: relative;
		padding-left: 50px;
		margin: 20px 0;
		&:first-child {
			margin-top: 0;
		}
		.icon {
			@include bg-size(cover);
			position: absolute;
			width: 33px;
			height: 33px;
			top:50%;
			left:0;
			margin-top: -16.5px;
		}
	}
}
.btn-202pro {
	background: #000;
	width: 100%;
	float: left;
	padding: 10px 20px 25px 20px;
	color:$text-white;
	font-size: $size-l;
	line-height: 1.6em;
	img {
		max-width: 70%;
	}
}

/*	FOOTER STYLES	*/
.footer {
	position: relative;
	.btn-blue {
		position: absolute;
		left:20px;
		top:0;
		font-weight: bold;
		font-size: $size-s-;
		padding: 5px;
	}
}

/*	MODAL STYLES	*/
.overlay  {
	@include transition-all(0.5s , ease-in-out);
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index:-1;
	opacity: 0;
	background: rgba(0,0,0,0.7);
}
.modal {
	@include box-shadow(15px , #fff);
	@include translateY(-110%);
	@include transition-all(0.5s , ease-in-out);
	position: absolute;
	width:calc(100% - 40px);
	left:20px;
	z-index:20;
	padding: 20px;
	background: #fff;
	text-align: center;
	h3 {
		margin-top: 0;
	}
	.close {
		position: absolute;
		top: 0;
		padding: 10px;
		right: 0;
		font-size: $size-xs;
		font-weight: bold;
		width: auto;
		text-transform: uppercase;
	}
}
.modal-content {
	padding-top: 20px;
}
.modal-open {
	overflow: hidden;
	.modal {
		@include translateY(40%);
	}
	.overlay {
		z-index:10;
		opacity: 1; 
	}
}
.btn-submit {
	@include radius-equal(2px);
	font-weight: bold;
	margin: 0 20px;
	padding: 10px;
}

@media only screen and (min-device-pixel-ratio: 2) {
	.icon {
		background-image: url("../img/icons.png");
	}
	.top-part {
		background-image: url("../img/bg-top.jpg");
	}
	.content {
		background-image: url("../img/bg-content.jpg");
	}
}