// text colors
$text-default:#1E1F22;
$text-white:#ffffff;
$text-blue:#00C0FF;
$text-h2:#0d1112;


// text sizes
$size-global:18px;
$size-xl:43px;
$size-l:27px;
$size-s-m:17px;
$size-s:16px;
$size-s-:15px;
$size-xs:13px;

$border-blue: #00C0FF;
$border-input:#a8a8a8;

$bg-green:#01CF4A;
$bg-blue:#00C0FF;

